In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
RESULT_FINAL_DIR = 'result/'

In [3]:
# result_smote = pd.read_csv(os.path.join(RESULT_FINAL_DIR, 'result_clean_feature_smote.csv'))
# result_synthetic = pd.read_csv(os.path.join(RESULT_FINAL_DIR, 'result_clean_feature.csv'))

# result_synthetic = pd.concat([result_synthetic, result_smote], axis=0)

# result_synthetic.to_csv(os.path.join(RESULT_FINAL_DIR, 'result_clean_feature.csv'), index=False)

In [4]:
result_synthetic = pd.read_csv(os.path.join(RESULT_FINAL_DIR, 'result_clean_feature.csv'))
result_no_synthetic = pd.read_csv(os.path.join(RESULT_FINAL_DIR, 'result_clean_feature_no_synthetic.csv'))
result_synthetic = result_synthetic[['accuracy', 'precision', 'recall', 'f1_score', 'confusion_matrix']]

result = pd.concat([result_no_synthetic, result_synthetic])

In [5]:
result

     accuracy  precision    recall  f1_score        confusion_matrix
0    0.787791   0.702041  1.000000  0.824940    [[99, 73], [0, 172]]
1    0.773256   0.688000  1.000000  0.815166    [[94, 78], [0, 172]]
2    0.770349   0.685259  1.000000  0.813239    [[93, 79], [0, 172]]
3    0.781977   0.696356  1.000000  0.821002    [[97, 75], [0, 172]]
4    0.764535   0.679842  1.000000  0.809412    [[91, 81], [0, 172]]
..        ...        ...       ...       ...                     ...
100  0.851744   0.823529  0.895349  0.857939  [[139, 33], [18, 154]]
101  0.854651   0.821053  0.906977  0.861878  [[138, 34], [16, 156]]
102  0.863372   0.830688  0.912791  0.869806  [[140, 32], [15, 157]]
103  0.857558   0.818653  0.918605  0.865753  [[137, 35], [14, 158]]
104  0.857558   0.815385  0.924419  0.866485  [[136, 36], [13, 159]]

[110 rows x 5 columns]

In [6]:
result.to_excel(os.path.join(RESULT_FINAL_DIR, 'result_clean_feature_combined.xlsx'), index=False)

In [7]:
result

     accuracy  precision    recall  f1_score        confusion_matrix
0    0.787791   0.702041  1.000000  0.824940    [[99, 73], [0, 172]]
1    0.773256   0.688000  1.000000  0.815166    [[94, 78], [0, 172]]
2    0.770349   0.685259  1.000000  0.813239    [[93, 79], [0, 172]]
3    0.781977   0.696356  1.000000  0.821002    [[97, 75], [0, 172]]
4    0.764535   0.679842  1.000000  0.809412    [[91, 81], [0, 172]]
..        ...        ...       ...       ...                     ...
100  0.851744   0.823529  0.895349  0.857939  [[139, 33], [18, 154]]
101  0.854651   0.821053  0.906977  0.861878  [[138, 34], [16, 156]]
102  0.863372   0.830688  0.912791  0.869806  [[140, 32], [15, 157]]
103  0.857558   0.818653  0.918605  0.865753  [[137, 35], [14, 158]]
104  0.857558   0.815385  0.924419  0.866485  [[136, 36], [13, 159]]

[110 rows x 5 columns]

In [8]:
result_synthetic = pd.read_csv(os.path.join(
    RESULT_FINAL_DIR, 'result_clean_feature.csv'))

In [9]:
result_synthetic

,dataset,n_samples,trial,accuracy,precision,recall,f1_score,confusion_matrix
0,tvae,20000,1,0.802326,0.734234,0.947674,0.827411,"[[113, 59], [9, 163]]"
1,tvae,20000,2,0.796512,0.729730,0.941860,0.822335,"[[112, 60], [10, 162]]"
2,tvae,20000,3,0.799419,0.726872,0.959302,0.827068,"[[110, 62], [7, 165]]"
3,tvae,20000,4,0.799419,0.733032,0.941860,0.824427,"[[113, 59], [10, 162]]"
4,tvae,20000,5,0.805233,0.739726,0.941860,0.828645,"[[115, 57], [10, 162]]"
...,...,...,...,...,...,...,...,...
100,ctabganplus,250000,2,0.851744,0.823529,0.895349,0.857939,"[[139, 33], [18, 154]]"
101,ctabganplus,250000,3,0.854651,0.821053,0.906977,0.861878,"[[138, 34], [16, 156]]"
102,ctabganplus,250000,4,0.863372,0.830688,0.912791,0.869806,"[[140, 32], [15, 157]]"
103,ctabganplus,250000,5,0.857558,0.818653,0.918605,0.865753,"[[137, 35], [14, 158]]"
104,ctabganplus,500000,1,0.857558,0.815385,0.924419,0.866485,"[[136, 36], [13, 159]]"

In [10]:
result_synthetic.groupby(['dataset']).mean().sort_values(by='f1_score', ascending=False)

C:\Users\KEY\AppData\Local\Temp\ipykernel_24220\811826188.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  result_synthetic.groupby(['dataset']).mean().sort_values(by='f1_score', ascending=False)

,n_samples,trial,accuracy,precision,recall,f1_score
dataset,,,,,,
ctabganplus,123809.52381,2.904762,0.858804,0.827564,0.906977,0.865345
tvae,123809.52381,2.904762,0.803848,0.733422,0.954873,0.829593
ctgan,123809.52381,2.904762,0.814507,0.781579,0.873477,0.824821
ctabgan,123809.52381,2.904762,0.795404,0.853231,0.713732,0.776994
gaussian_copula,123809.52381,2.904762,0.749169,0.797677,0.667220,0.725453

In [11]:
result_synthetic[result_synthetic['dataset'] != 'gaussian_copula'].groupby(['n_samples']).mean().sort_values(by='f1_score', ascending=False)

C:\Users\KEY\AppData\Local\Temp\ipykernel_24220\3643809923.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  result_synthetic[result_synthetic['dataset'] != 'gaussian_copula'].groupby(['n_samples']).mean().sort_values(by='f1_score', ascending=False)

           trial  accuracy  precision    recall  f1_score
n_samples
500000       1.0  0.825581   0.801810  0.876453  0.832329
250000       3.0  0.821221   0.800329  0.869477  0.828399
100000       3.0  0.821512   0.801910  0.866570  0.827374
50000        3.0  0.817151   0.801247  0.855523  0.822332
20000        3.0  0.811192   0.791739  0.854651  0.817019